In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import ffmpeg as fg

In [2]:
#改变jupyter展示默认行数
# pd.set_option("display.max_rows",None)
# pd.set_option("display.max_columns",None)
# pd.set_option('display.max_colwidth', 1000)

In [3]:
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

In [4]:
df = pd.read_csv('vggsound.csv', index_col=None)

In [5]:
df = df.dropna()
df

                 ID  start_time             Unnamed: 2 Unnamed: 3
0            #NAME?           1        people marching       test
1       --0PQM4-hqg          30     waterfall burbling      train
2       --56QUhyDQM         185         playing tennis      train
3       --5OkAjCI7g          40  people belly laughing      train
4       --8puiAGLhs          30    car engine starting      train
...             ...         ...                    ...        ...
199171  zzsUhaDSqzI         145         lathe spinning      train
199172  zztvx3WUBss          30       people shuffling      train
199173  zzvCPtdNxNo          68    civil defense siren       test
199174  zzvSVusPPgM          30       chicken clucking      train
199175  zzwbG0dHLhI         150            lawn mowing      train

[199176 rows x 4 columns]

In [6]:
print(r"cd /d C:\Users\Jae\Desktop\data\VGG_Data")

cd /d C:\Users\Jae\Desktop\data\VGG_Data

In [ ]:
for i in range(199175):
    print("yt-dlp -f 18+22 --merge-output-format mp4 https://www.youtube.com/watch?v=" + df.iloc[i,0] + " -o %d.mp4"%(i))
    print("ffmpeg -i %d.mp4 -y -f image2 -ss "%(i) + str(int(df.iloc[i,1])+4) + " -s 640x360 %d.jpg"%(i))
    print("ffmpeg -i %d.mp4 -f wav -ar 44100 c%d.wav"%(i,i))
    print("del \"" + str(i) + ".mp4\"")
    print("ffmpeg -i c%d.wav -vn -acodec copy -ss "%(i) + str(int(df.iloc[i,1])) + " -t 10 %d.wav"%(i))
    print("del \"c%d.wav\"\n"%(i))